DATABASE_URL=postgresql://role_user:role_pass@role-db:5432/role_db

AUTH_SERVICE_URL=http://auth-service:8000
INTERNAL_SERVICE_KEY=CAMBIA_ESTO_generate_con_python_secrets_token_hex_32

COOKIE_SECURE=false
FRONTEND_ORIGINS=http://localhost:5173
